<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.promob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pendu"></activity>
        <activity android:name=".UpdateProfile" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".Profile" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".LogoQuizzMedium" />
        <activity android:name=".LogoQuizzEasy" />
        <activity android:name=".Connexion" />
        <activity android:name=".Home" />
        <activity android:name=".LogoQuizzResults" />
        <activity android:name=".HomeLogoQuizz" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>